body
{
  font-family: 'Roboto', arial, sans-serif;
  font-size: small;
  color: #777;
  margin: 0;
  padding: 0;
}

#top-border
{
  min-width: 1205px;
  background: #fafafa;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 20px;
  top: 0;
  right: 0;
  left: 0;
}

#search-row
{
  width: 100%;
}

#logo
{
  vertical-align: middle;
  padding-left: 13px;
  padding-right: 12px;
}

.search
{
  display: inline-block;
  vertical-align: top;
}

#search
{
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  background: white;
}

#search:hover
{
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: none;
}

#search-bar
{
  padding-left: 16px;
  padding-top: 5px;
  padding-right: 9px;
  width: 503px;
}

input[name=searchinput]
{
  border: none;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  color: #000;
  padding: 0px;
  margin: 0px;
  height: 34px;
  background: transparent;
  outline: none;
  width: 100%;
}

#search-voice
{
  padding: 0 8px;
}

#a-search-voice
{
  width: 24px;
  line-height: 44px;
  padding: 0 8px;
}

#span-voice
{
  width: 18px;
  background: url(media/search_voice.png) no-repeat -3px 0;
  background-size: 24px 24px;
  display: inline-block;
  height: 23px;
  vertical-align: middle;
}

#search-magnifier
{
  padding-right: 8px;
}

#a-search-magnifier
{
  width: 24px;
  line-height: 44px;
  padding: 0 8px;
}

#span-magnifier
{
  width: 18px;
  background: url(media/search_alpha1.png) no-repeat 0 0;
  color: ;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}

.buttons
{
  display: inline-block;
  vertical-align: middle;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

#apps-button
{
  opacity: .55;
  line-height: 0;
}

#apps-button:hover, #apps-button:focus
{
  opacity: .85;
}

#signin-button
{
  margin-left: 15px;
  font-weight: bold;
  padding: 0 12px;
  border: 1px solid #4285f4;
  border-radius: 2px;
  background: #4387fd;
  line-height: 28px;
}

#signin-button a
{
  color: #fff;
}

#signin-button a:hover
{
  text-decoration: none;
}

#left-buttons
{
  float: right;
  line-height: 40px;
  margin-left: 50px;
  margin-right: 30px;
}

#search-tools
{
  margin-left: 150px;
  width: 640px;
}

.tools_buttons
{
  display: inline-block;
  margin: 0 8px;
  padding: 20px 8px;
}

.tools_buttons a
{
  color: #777;
  text-decoration: none;
}

.tools_buttons a:hover
{
  color: #222;
}

#all-button
{
  padding-bottom: 18px;
  border-bottom: 3px solid #4285f4;
  font-weight: bold;
}

#all-button a
{
  color: #4285f4;
}

#tools-button
{
  margin: 12px 1px;
  padding: 6px 15px;
}

#tools-button:hover
{
  background-color: #f8f8f8;
  margin-top: 12px;
  margin-left: 0px;
  margin-right: 1px;
  padding: 5.5px 14.5px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
}

#tools-button a:hover
{
  color: #777;
}

.content
{
  font-family: 'Roboto', arial, sans-serif;
  font-size: small;
  margin-left: 150px;
  margin-bottom: 85px;
  min-width: 1055px;
}

#results-nr
{
  width: 229px;
  padding-left: 16px;
  padding-right: 8px;
  line-height: 43px;
}

#search-results
{
  margin-top: 9px;
  margin-left: 16px;
  margin-right: 16px;
  width: 600px;
}

.result
{
  display: block;
  margin-bottom: 26px;
}

.link
{
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.link a
{
  color: #1a0dab;
}

.path
{
  display: inline;
  vertical-align: middle;
  font-size: 14px;
  color: #006621;
  font-style: normal;
}

.span_action_menu
{
  display: inline-block;
  background: url(media/action_menu_alpha.png) no-repeat 0 0;
  background-size: 8px 6px;
  width: 13px;
  height: 9px;
  margin-left: 3px;
}

.text_content
{
  font-family: 'Roboto', arial, sans-serif;
  font-size: 13px;
  color: #545454;
  line-height: 1.4;
}

em
{
  color: #6a6a6a;
  font-weight: bold;
  font-style: normal;
}

.links_below
{
  line-height: 18px;
}

.links_below a
{
  color: #1a0dab;
}

#search-related
{
  margin-top: 40px;
  margin-bottom: 20px;
}

.rel_col
{
  display: inline-block;
  font-size: 14px;
  max-width: 100%;
  line-height: 20px;
  box-sizing: border-box;
}

.rel_col a
{
  display: block;
  padding: 3px 32px 3px 0;
  color: #1a0dab;
}

#h3-search-related
{
  color: #222;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}

#goooooooooogle
{
  margin: 30px 0;
  color: #222;
}

.row_div
{
  display: block;
  text-align: left;
}

#row-div-nr
{
  margin-left: 47.8px;
}

#row-div-nr a
{
  margin-left: 13.8px;
}

.row_div_next
{
  display: block;
}

.row_div a, .row_div_next a
{
  color: #4285f4;
}

.inline_block
{
  display: inline-block;
}

#footer
{
  border-top: 1px solid #e4e4e4;
  min-width: 1205px;
  background: #fafafa;
  padding-top: 18px;
  bottom: 0;
  right: 0;
  left: 0;
}

#ft-rows
{
  margin-left: 166px;
}

#location-row
{
  display: block;
}

#loc-circle
{
  background: #9e9e9e;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 6px 4px 9px 0;
  vertical-align: middle;

}

#unknown
{
  color: #aaa;
  line-height: 15px;
  display: inline-block;
}

.footer_buttons
{
  display: inline-block;
}

.footer_buttons a
{
  color: #777;
  text-decoration: none;
}

.footer_buttons a:hover
{
  color: #333;
  text-decoration: none;
}

#last-row
{
  display: block;
  line-height: 40px;
  margin-left: -27px;
}

#last-row a
{
  padding-left: 27px;
}

#relevant-info
{
  border: 1px solid #c6c6c6;
  width: 366px;
}

#images
{
  display: block;
  width: 366px;
  height: 186px;
}

.img_div
{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  float: left;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  overflow: hidden;
}

#img-block-1
{
  width: 187px;
  height: 186px;
}

#img-row1
{
  margin-right: 0;
  width: 178px;
  height: 89px;
}

#img-row2-1
{
  width: 99px;
  height: 96px;
}

#img-row2-2
{
  margin-right: 0;
  margin-bottom: 0;
  width: 78px;
  height: 96px;
}

.ttl_cls
{
  clear: both;
  overflow: auto;
  padding: 12px 15px;
  border-bottom: 1px solid #c6c6c6;
}

#rel-title-row1
{
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.2;
  font-size: 30px;
}

#rel-share
{
  float: right;
}

#rel-title-row2
{
  color: #777;
  line-height: 1.24;
  font-size: 13px;
}

#rel-link
{
  display: flex;
  color: #1a0dab;
  align-items: center;
}

#rel-text-link
{
  margin: 0;
  padding: 0;
}

#rel-content
{
  padding-left: 15px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c6c6c6;
}

.rel_cls
{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #c6c6c6;
}

#rel-avail-mus
{
  margin-bottom: 20px;
}

#rel-avail
{
  font-size: 18px;
  color: #222;
  line-height: 1.24;
  padding-top: 0px;
}

.rel_cls_link
{
  display: flex;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
}

#mus-more
{
  border: none;
  padding-bottom: 0;
}

#mus-more a
{
  text-decoration: none;
}

#rel-descr
{
  margin-bottom: 24px;
}

#rel-description
{
  color: #222;
  margin: 13px 0;
}

#rel-descr-born
{
  color: #222;
}

#rel-songs
{
  margin-bottom: 24px;
}

#rel-songs-title
{
  color: #222;
  font-size: 18px;
}

.rel_song_cls
{
  display: block;
  border-bottom: 1px solid #c6c6c6;
}

.rel_text_collumn
{
  display: inline-block;
  padding-top: 6px;
  height: 50px;
}

.rel_song_name
{
  display: block;
  font-size: 14px;
  color: #222;
  line-height: 18px;
  height: 24px;
}

a:hover .rel_song_name
{
  text-decoration: underline;
}

.rel_song_year
{
  display: block;
  font-size: 13px;
  color: #757575;
  line-height: 18px;
  height: 24px;
  margin-top: -4px;
}

.rel_img_collumn
{
  float: right;
  width: 101px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}

#rel-song-more
{
  display: block;
  font-size: 13px;
  padding-top: 12px;
  margin-bottom: 20px;
}

#rel-song-more a
{
  color: #757575;
}

#rel-events
{
  margin-bottom: 24px;
}

#rel-events-title
{
  color: #222;
  font-size: 18px;
}

.rel_event_cls
{
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #c6c6c6;
}

.rel_event_cls a:hover
{
  text-decoration: none;
}

.rel_date_collumn
{
  display: inline-block;
  margin: 6px 0;
  width: 120px;
}

.rel_date
{
  display: block;
  color: #222;
  font-size: 14px;
  line-height: 18px;
  height: 24px;
}

.rel_time
{
  display: block;
  color: #757575;
  margin-top: -4px;
  line-height: 18px;
  height: 24px;
}

.rel_loc_collumn
{
  display: inline-block;
  margin: 6px 0;
}

.rel_city
{
  display: block;
  color: #222;
  font-size: 14px;
  line-height: 18px;
  height: 24px;
}

a:hover .rel_city
{
  text-decoration: underline;
}

.rel_loc
{
  display: block;
  color: #757575;
  margin-top: -4px;
  line-height: 18px;
  height: 24px;
}

#rel-event-more
{
  display: block;
  font-size: 13px;
  padding-top: 12px;
  margin-bottom: 20px;
}

#rel-event-more a
{
  color: #757575;
}

#rel-profiles-title
{
  color: #222;
  font-size: 18px;
}

.rel_profile_cls
{
  display: inline-block;
  width: 72px;
  margin-left: 11px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
}

.rel_profile_cls a
{
  color: #1a0dab;
}

#rel-profile1
{
  margin-left: 0;
}

#rel-inf-dr-dwn
{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#rel-dr-img
{
  display: inline-block;
}

#rel-dr-text
{
  position: absolute;
  display: inline-block;
  color: #777;
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 10px;
}

#rel-inf-container a:hover
{
  text-decoration: none;
}
